@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
	font-family: 'Montserrat', sans-serif;
}

.container-section {
	@apply w-full rounded variant-filled-surface p-6 h-full;
}